

<section class="my-6" style=" display: none;"   id="loginForm" >
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form (ngSubmit)="authentifier()">
                  <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0"><img src="../../../assets/image/logobank.png" alt=""></span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" name="unLogin" placeholder="Email address" class="form-control form-control-lg" [(ngModel)]="unLogin" required/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" placeholder="Password" class="form-control form-control-lg" name="unMdp" [(ngModel)]="unMdp" required/>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" >Login</button>
                  </div>
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


 <!-- <div>
  <h2>Login</h2>
  <form (ngSubmit)="authentifier()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="unLogin" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="unMdp" required>
    </div>
    <button type="submit">Login</button>
  </form>
</div> -->
