<div class="container">
 <div class="col-12 shadow p-3 mb-5 bg-white rounded">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive" >
        <div class="table-responsive">  
         <form>
          <table class = "table table-striped table-hover">
           <tr>
            <td>
             <label class = "input-group-text" for = "compteEmetteur">
                    Compte émetteur
             </label>
            </td>
            <td >
                <select class="form-select" name="compteEmetteur" id="compteEmetteur" [(ngModel)]="unCompteIdSrc" >
                    <option selected value="0">--Choix--</option>
                    <option *ngFor="let account of accounts" [value]="account.id" name="unCompteIdSrc" >{{account.libelle}}</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
                <label class="input-group-text" for="compteDestinataire">
                    Compte destinataire
                </label>
            </td>
            <td>
                <select class="form-select"  id="compteDestinataire" name="unCompteIdDst" [(ngModel)]="unCompteIdDst">
                    <option selected value="0">--Choix--</option>
                    <option *ngFor="let account of accounts" [value]="account.id" >{{account.libelle}}</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
                <label class="input-group-text" for="Montant de virement">
                    Montant de virement
                </label>
            </td>
            <td>
                <input type="text" class="form-control" id="Montant de virement" [(ngModel)]="unMontant" name="Montant de virement">
            </td>
          </tr>
      </table>
      <button type="submit" class="btn btn-primary" (click)="validerVirement()">Valider</button>
      <div class="alert alert-success mt-4" *ngIf="isValid">
        <span  role="alert">
            Votre virement a été effectué
        </span>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>




