<!-- Partie Banner Section -->
<!-- This section represents the banner area of the website. -->
<div class="site-section " id="banner" >
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h2 class="h2 text-uppercase"><em>1 Compte + 1 Carte + 1 RIB</em></h2>
        <div class="subtitle-wrapper  text-uppercase">
          <span class="h2"><em>en 5 Minutes</em></span>
      </div>
      <ul class="my-24 ul-spacing-y-16 list-check font-sarabun">
        <li><strong>Des cartes Mastercard </strong> de standard à premium et des assurances Europ Assistance</li>
        <li><strong>Sans conditions</strong> de revenus et ouvert à 190 passeports</li>
        <li><strong>0 surprise</strong> : transactions en temps réel, sans frais cachés et sans découvert</li>
    </ul>
        <!-- <button class=" btn btn-primary  white " ><a >coming soon</a></button> -->
      </div>
      <div class="col-7">
        <!-- Image carousel to display multiple images -->
        <div id="carouselExampleSlidesOnly" class="carousel slide lazy-load" data-ride="carousel" data-interval="2000">
          <div class="carousel-inner" style="border-radius: 1rem;">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/image/img_1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/image/img_2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/image/img_3.jpg" alt="Third slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Partie Banner Section -->

<!-- Partie About Us Section -->
<!-- This section provides information about the company, WHV Banque, and its mission. -->
<div class="site-section" id="about-us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-5">
        <h2 class="section-title">About Us<br>A bank designed to empower you</h2>
        <p>
          For too long, hidden fees, complicated jargon, and bureaucracy have misplaced our trust in banks.
          That’s why at WHV banque, we’re focused on giving you total transparency and control.<br>
          Save, spend, budget, and invest however you like — with just a few taps on your phone.
          By making money beautifully simple and easy to manage, we’re here to help everyone achieve financial freedom with confidence.
        </p>
      </div>
      <div class="row d-flex justify-content-around">
        <div class="col-3">
          <img src="/assets/image/img_1.jpg" style="border-radius: 1rem; height: 350px; width: 330px;" alt="Image">
        </div>
        <div class="col-3">
          <img src="/assets/image/img_2.jpg" style="border-radius: 1rem; height: 350px; width: 330px;" alt="Image">
        </div>
        <div class="col-3">
          <img src="/assets/image/img_3.jpg" style="border-radius: 1rem; height: 350px; width: 330px;" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Partie About Us Section -->

<!-- Partie Services Section -->
<!-- This section highlights the different services offered by WHV Banque. -->
<div class="site-section" id="services">
  <div class="container">
    <div class="row mb-5 mt-3">
      <div class="col-4 text-center">
        <img src="assets/svg/001-wallet.svg" alt="svg wallet" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Money Savings</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-4 text-center">
        <img src="/assets/svg/004-cart.svg" alt="svg cart" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Online Shoppings</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
      <div class="col-4 text-center" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/svg/006-credit-card.svg" alt="svg credit card" class="img-fluid w-25 mb-4">
        <h3 class="card-title">Credit / Debit Cards</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <figure class="circle-bg">
          <img src="/assets/image/img_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
        </figure>
      </div>
      <div class="col-5 ml-auto">
        <div class="mb-4">
          <h3 class="h3 mb-4 text-black">Banking Solutions Is Our Priority</h3>
          <p>
            Want to get even smarter about your spending and saving? Go premium with N26 Smart and create 10 Spaces sub-accounts.
            Plus, pick a Mastercard in your choice of color, get even more free ATM withdrawals each month, and call us via a direct hotline if you ever need support.
          </p>
        </div>
        <div class="mb-4">
          <ul class="list-unstyled ul-check success">
            <li>Choose the perfect plan for you</li>
            <li>Send money in real time with MoneyBeam</li>
            <li>Customer Support in 5 languages</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Partie Services Section -->

<!-- Partie Team Section -->
<!-- This section introduces the team members of WHV Banque. -->
<section class="site-section" id="team">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="mb-2">Meet Team</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-3">
        <img src="/assets/image/hussien.jpeg" style="border-radius: 1rem; height: 350px; width: 300px;" alt="Image">
        <div class="p-3">
          <h3>Hussein Saleh</h3>
          <span class="position">Manager</span>
        </div>
      </div>
      <div class="col-3">
        <img src="/assets/image/rolla.jpeg" style="border-radius: 1rem; height: 350px; width: 300px;" alt="Image">
        <div class="p-3">
          <h3>Rolla Vijay</h3>
          <span class="position">Charge Operations</span>
        </div>
      </div>
      <div class="col-3">
        <img src="/assets/image/widad.jpeg" style="border-radius: 1rem; height: 350px; width: 300px;" alt="Image">
        <div class="p-3">
          <h3>Widad Khatiri</h3>
          <span class="position">CEO</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Partie Team Section -->

