/* Styles spécifiques au footer ici */

/* Footer styles */
footer {
  position: fixed; /* Fix the footer to the bottom of the viewport */
  bottom: 0;
  left: 0;
  width: 100%; /* Set the width to cover the entire viewport */
  padding: 10px;
  font-size: 12px;
  line-height: 1.2;
  background-color: #333;
  color: #fff;
  height: 125px; /* Set the height of the footer to 125 pixels */
}

/* Styles for the child elements of the footer (e.g., headings and paragraphs) */
footer h5 {
  font-size: 16px; /* Set the font size for h5 elements within the footer */
}

footer p {
  margin-bottom: 4px; /* Add margin at the bottom of paragraphs within the footer */
}

/* Social icons styles */
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.icon-row {
  display: flex;
  gap: 10px; /* Set the gap between social icons within the icon row */
  margin-top: 5px; /* Add a margin to separate the icons from the "Follow Us" title */
}

.social-icons a {
  color: #fff; /* Set the color of social icons to white */
  font-size: 24px; /* Set the font size of social icons */
}

.follow-us {
  margin-bottom: 5px; /* Add margin at the bottom of the "Follow Us" title */
}

/* Additional adjustments */
footer .container {
  padding-top: 15px; /* Add padding to the container within the footer */
}

.col-md-4 {
  flex: 1; /* Change from 'flex-basis: 30%' to 'flex: 1' */
}

/* New styles for proper alignment */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Add this line to align elements to the top */
}

/* Update the flex property for the .col-md-4 class */
.col-md-4 {
  flex: 1; /* Change from 'flex-basis: 30%' to 'flex: 1' */
  display: flex;
  flex-direction: column;
}
