<!-- app-nab-bar: This element represents the navigation bar component of the web application. It likely contains links or buttons to navigate to different sections or pages of the website. -->
<app-nab-bar></app-nab-bar>
<!-- router-outlet: This element is part of Angular's routing mechanism. It acts as a placeholder where the content of different components will be dynamically rendered based on the current URL and the defined routes in the application. -->
<router-outlet></router-outlet>

<!-- app-footer: This element represents the footer component of the web application. Typically, it contains copyright information, links to important pages, or other relevant content that appears at the bottom of the web page. -->
<app-footer></app-footer>