:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Add this line to prevent unnecessary scrolling */
}

app-navbar,
app-footer {
  flex-shrink: 0;
}

router-outlet {
  flex-grow: 1;
  overflow-y: auto; /* Add this line to enable scrolling within the body */
}
