

<section class="intro">
  <div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img4.jpg');">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(25, 185, 234,.25);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Numéro</th>
                        <th scope="col">Désignation</th>
                        <th scope="col">Taux</th>
                        <th scope="col">Découvert autorisé</th>
                        <th scope="col">Solde</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let account of accounts">
                      <tr>
                        <th scope="row"></th>
                        <td ><a [routerLink]="['/operations']"  [queryParams]="{ userId: userId, unCompteId: account.id }">{{account.id}}</a></td>
                        <td>{{account.libelle}}</td>
                        <td>{{account.taux}}</td>
                        <td>{{account.decouvert}}</td>
                        <td>{{account.solde}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


